{% extends 'mailing/base.html' %}

{% block content %}

<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <a class="btn btn-primary" href="{% url 'mailing:newsletter_create' %}" role="button">Создать новую рассылку</a>
</div>

<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="list-group">

        {% for customuser in object_list %}
        {% if user.is_manager == True %}
        <a href="{% url 'users:customuser_detail' customuser.pk %}"
           class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32"
                 class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                     <p class="card-text">{{ customuser.first_name }} {{ customuser.last_name }}</p>
                        <p class="card-text">{{ customuser.email }}</p>
                        <p class="card-text">{{ customuser.username }}</p>
                </div>
            </div>
            {% endif %}
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}