{% extends 'mailing/base.html' %}

{% block content %}

<div class="container py-4">

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-3 fw-semibold">Главная</h1>
            <p class="col-md-8 fs-4">Количество всех рассылок:
                <span class="badge rounded-pill text-bg-primary">{{ count_newsletter }}</span></p>
            <p class="col-md-8 fs-4">Количество активных рассылок:
                <span class="badge rounded-pill text-bg-success">{{ active_newsletter_count }}</span></p>
            <p class="col-md-8 fs-4">Количество уникальных получателей:
                <span class="badge rounded-pill text-bg-light">{{ unique_subscribers_count }}</span></p>
        </div>
    </div>
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3">
                <h2>Узнать больше:</h2>
                <div class="btn-group">
                    <a class="btn btn-outline-info" href="{% url 'mailing:message_list' %}"
                       role="button">Посмотреть все сообщения</a>
                    <a class="btn btn-outline-info" href="{% url 'mailing:newsletter_list' %}"
                       role="button">Посмотреть все рассылки</a>
                    <a class="btn btn-outline-info" href="{% url 'mailing:subscriber_list' %}"
                       role="button">Посмотреть всех получателей рассылки</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                <h2>Статистика</h2>
                <p></p>
                <button class="btn btn-outline-secondary" type="button">Example button</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}